*.svg
!spectre-tile*tiles.svg
!spectre-tile7.3-12.6-4-4401tiles_(300,-1000)-(1400,-700).svg
sp*.txt
!spectre-tile*.log.txt
pcv*.txt
rs*.txt
*.csv
!spectre-tile7.3-12.6-4-4401tiles.svg.csv
!spectre-tile7.3-12.6-5-34649tiles.svg
