*.svg
!spectre-tile7.3-12.6-4-4401tiles_(300,-1000)-(1400,-700).svg
sp*.txt
!spectre-tile7.3-12.6-4.log.txt
pcv*.txt
rs*.txt
*.csv
!spectre-tile7.3-12.6-4-4401tiles.svg.csv
*.xlsx
*.png
!spectre-color-for_find_mystec-clusters.png
docs/
my_spectre_*.txt
*.xlsm
test*.txt
